<!-- first section -->
<div class="first-section bg-primary">
  <base-navbar class="navbar-transparent" bgType="dark">
    <a class="navbar-brand" href="#">
      <ng-fontawesome icon="leaf" size="1"></ng-fontawesome>
      Supine
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Components </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Examples </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-light btn-sm" href="#">Download </a>
        </li>
      </ul>
    </div>
  </base-navbar>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-8">
        <div class="intro text-center">
          <h3 class="text-white">
            <ng-fontawesome icon="leaf"></ng-fontawesome>
            Ng-Supine
          </h3>
          <p class="lead">A beautiful Design System for Angular Lovers based on bootstrap 4.3. It's Free and Open
            Source.
          </p>
          <div>
            <button class="btn btn-outline-secondary">
              <ng-fontawesome icon="download"></ng-fontawesome>
              Download
            </button>
            <button class="btn btn-outline-light" style="width:137px;">
              <ng-fontawesome icon="github"></ng-fontawesome>
              Github
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- second section -->
<div class="second-section">
  <div class="mb-5">
    <h3 class="mb-4 container">Basic Elements</h3>
    <h4 class="mb-4 container">Navbar</h4>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="primary">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="secondary">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="success">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  <ng-fontawesome icon="github" size="1.3"></ng-fontawesome>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <ng-fontawesome icon="facebook" size="1.3"></ng-fontawesome>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <ng-fontawesome icon="instagram" size="1.3"></ng-fontawesome>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <ng-fontawesome icon="google" size="1.3"></ng-fontawesome>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="danger">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="warning">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="info">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="light" bgColor="light">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
    <div class="mb-3">
      <base-navbar size="3" bgType="dark" bgColor="dark">
        <div class="container">
          <a class="navbar-brand text-uppercase" href="#">NG-SUPINE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link d-flex align-items-center" href="#">
                  <ng-fontawesome class="mr-2" icon="github" size="1.3"></ng-fontawesome>
                  Github
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="#">
                  <ng-fontawesome class="mr-2" icon="facebook" size="1.3"></ng-fontawesome>
                  Facebook
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="#">
                  <ng-fontawesome class="mr-2" icon="instagram" size="1.3"></ng-fontawesome>
                  Instagram
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="#">
                  <ng-fontawesome class="mr-2" icon="google" size="1.3"></ng-fontawesome>
                  Google
                </a>
              </li>
            </ul>
          </div>
        </div>
      </base-navbar>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="mb-4">cards</h4>
        <div class="row mb-5">
          <div class="col-md-4">
            <base-card>
              <img class="img-fluid" src="../assets/img/green.jpg" alt="">
              <base-card-body>
                <h4>Green</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary">Go foo</button>
              </base-card-body>
            </base-card>
          </div>
          <div class="col-md-4">
            <base-card>
              <img class="img-fluid" src="../assets/img/green.jpg" alt="">
              <base-card-body>
                <h4>Green</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary">Go foo</button>
              </base-card-body>
            </base-card>
          </div>
          <div class="col-md-4">
            <base-card>
              <img class="img-fluid" src="../assets/img/green.jpg" alt="">
              <base-card-body>
                <h4>Green</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary">Go foo</button>
              </base-card-body>
            </base-card>
          </div>
          <div class="col-md-4">
            <base-card ExtraClass="border-success">
              <base-card-header ExtraClass="border-success">
                base-card-header
              </base-card-header>
              <base-card-body>
                <h4>Success card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </base-card-body>
            </base-card>
          </div>
          <div class="col-md-4">
            <base-card ExtraClass="bg-info text-white">
              <base-card-header >
                base-card-header
              </base-card-header>
              <base-card-body>
                <h4 class="text-white">Success card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </base-card-body>
            </base-card>
          </div>
          <div class="col-md-4">
            <base-card ExtraClass="text-dark">
              <img class="img-fluid" src="../assets/img/green.jpg" alt="">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </base-card>
          </div>
        </div>
        <!--card-ends-->
        <h4 class="mb-4">Badge</h4>
        <div class="row mb-5">
          <div class="col-md-6">
            <h6 class="mb-3">Default</h6>
            <base-badge color="primary" ExtraClass="mr-2">
              primary
            </base-badge>
            <base-badge color="secondary" ExtraClass="mr-2">
              secondary
            </base-badge>
            <base-badge color="danger" ExtraClass="mr-2">
              danger
            </base-badge>
            <base-badge color="warning" ExtraClass="mr-2">
              warning
            </base-badge>
            <base-badge color="success" ExtraClass="mr-2">
              success
            </base-badge>
            <base-badge color="light" ExtraClass="mr-2">
              light
            </base-badge>
            <base-badge color="dark" ExtraClass="mr-2">
              dark
            </base-badge>
          </div>
          <div class="col-md-6">
            <h6 class="mb-3">Pill</h6>
            <base-badge color="primary" BadgeType="pill" ExtraClass="mr-2">
              primary
            </base-badge>
            <base-badge color="secondary" BadgeType="pill" ExtraClass="mr-2">
              secondary
            </base-badge>
            <base-badge color="danger" BadgeType="pill" ExtraClass="mr-2">
              danger
            </base-badge>
            <base-badge color="warning" BadgeType="pill" ExtraClass="mr-2">
              warning
            </base-badge>
            <base-badge color="success" BadgeType="pill" ExtraClass="mr-2">
              success
            </base-badge>
            <base-badge color="light" BadgeType="pill" ExtraClass="mr-2">
              light
            </base-badge>
            <base-badge color="dark" BadgeType="pill" ExtraClass="mr-2">
              dark
            </base-badge>
          </div>
        </div>
        <!--badges ends-->
        <h4 class="mb-4">Buttons</h4>
        <div class="row">
          <div class="col-md-6 mb-5">
            <h6 class="mb-3 ">Default</h6>
            <div class="mr-2 d-inline-block">
              <base-button color="primary">button</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="secondary">
                <ng-fontawesome icon="send"></ng-fontawesome>
              </base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="danger">
                <ng-fontawesome icon="check-circle"></ng-fontawesome>
              </base-button>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <h6 class="mb-3 ">Pill</h6>
            <div class="mr-2 d-inline-block">
              <base-button color="primary" type="pill">button</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="secondary" type="pill">
                <ng-fontawesome icon="send" ></ng-fontawesome>
              </base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="danger" type="pill">
                <ng-fontawesome icon="check-circle"></ng-fontawesome>
              </base-button>
            </div>
          </div>
          <div class="col-md-12 mb-5">
            <h5 class="mb-4">pick your color</h5>
            <div class="mr-2 d-inline-block">
              <base-button color="primary">primary</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="secondary">secondary</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="danger">danger</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="warning">warning</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="info">info</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="success">success</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="light">light</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="dark">dark</base-button>
            </div>
          </div>
          <div class="col-md-12 mb-5">
            <h5 class="mb-4">Outline</h5>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-primary" >primary</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-secondary">secondary</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-danger">danger</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-warning">warning</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-info">info</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-success">success</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-light">light</base-button>
            </div>
            <div class="mr-2 d-inline-block">
              <base-button color="outline-dark">dark</base-button>
            </div>
          </div>
          <div class="col-md-12 mb-5">
            <h5 class="mb-4">block level</h5>
            <div class="mb-5">
              <base-button color="danger" display="block">primary</base-button>
            </div>
            <h5 class="mb-4">Dropdown</h5>
            <div class="d-inline-block mb-5 mr-2">
              <base-dropdown>
                <base-button color="primary"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </base-button>
                <base-dropdown-menu>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </base-dropdown-menu>
              </base-dropdown>
            </div>
            <div class="d-inline-block mb-5">
              <base-dropdown>
                <base-button color="primary"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </base-button>
                <base-dropdown-menu align="right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </base-dropdown-menu>
              </base-dropdown>
            </div>
            <h5 class="mb-4">Carousel</h5>
            <div class="row">
              <div class="col-md-6">
                <base-carousel target="carouselExampleControls">
                  <ol class="carousel-indicators" >
                    <base-slide-indicator target="carouselExampleControls" index="0"></base-slide-indicator>
                    <base-slide-indicator target="carouselExampleControls" index="1"></base-slide-indicator>
                    <base-slide-indicator target="carouselExampleControls" index="2"></base-slide-indicator>
                  </ol>
                  <base-carousel-inner>
                    <div class="carousel-item active">
                      <img src="../../../assets/img/green.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/img/green.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/img/green.jpg" class="d-block w-100" alt="...">
                    </div>
                  </base-carousel-inner>
                    <base-carousel-indicator slide="next" target="carouselExampleControls"></base-carousel-indicator>
                    <base-carousel-indicator slide="prev" target="carouselExampleControls"></base-carousel-indicator>
                </base-carousel>
              </div>
              <div class="col-md-6">
<!--                <base-carousel></base-carousel>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
