.first-section{
    // height: 100vh;
    .intro{
        color: white;
        // margin-top: 4rem;
        // margin-bottom: 4rem;
    }
    button{
        text-transform: uppercase;
    }
}
.navbar-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

/**second section**/
.second-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .col-md-4{
      margin-bottom: 1rem;
    }

}

h1,h2,h3,h4,h5,h6{
    color: #363663;
    text-transform: uppercase;
}

//shapes
.l-shapes{
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition: width 2s !important; /* Safari prior 6.1 */
  transition-delay: 4s !important;
}
.btn{
  margin-bottom: 1rem;
}

